*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-image: linear-gradient(180deg, #3a3153, #5f43b2);
  background-repeat: no-repeat;
  font-family: "Montserrat Alternates", sans-serif;
  overflow-x: hidden; 
  flex: display;
  flex-direction: column
}

main{
  height: 75vh;
  display: block;
}

header{
  opacity: 0;
  display: flex;
  width: 90%;
  margin: auto;
  animation: fade-in 1.5s ease;
  animation-delay: 12s;
  animation-fill-mode: forwards;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-container,
.nav-links{
  display: flex;
}

.logo-container{
  align-items: center;
  justify-content: center;
  flex: 20%;
}
nav{
  flex: 80%;
}

.nav-links{
  justify-content: space-around;
  list-style: none;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 10px;
  color: #e6ddd6;
}

.nav-link{
  color: #e6ddd6;
  font-size: 10px;
  text-decoration: none;

}

.presentation{
  margin-left: 25%;
  margin-right: 25%;
  color: #e6ddd6;
  overflow: visible;
}

.hello{
  opacity: 0;
  text-align: center;
  font-size: 20px;
  animation: drop 1.5s ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

.header-text{
  text-align: center;
  opacity: 0;
  transform: translateY(-80px);
  animation: drop 1.5s ease;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  font-size: 16px;
}

.blurb{
  text-align: center;
  opacity: 0;
  transform: translateY(-80px);
  animation: drop 1.5s ease;
  animation-delay: 7s;
  animation-fill-mode: forwards;
  font-size: 16px;
}

@keyframes swapDrawing{
  0%, 100%{
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-fish.jpg");
  }
  50% {
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-puffin.jpg");
    background-position: 40% 50%;
  }
}

@keyframes swapPortfolio{
  0%, 100%{
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-metallic-mask.jpg");
  }
  50% {
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-fish.jpg");
    background-position: 85% 90%;
  }
}

.circles{
  display: flex;
  flex-direction: row;
  height: 20vh;
  justify-content: space-around;
}

.portfoliolink-circle{
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  display: block;
  margin: 0 auto;
  background-size: 200%;
  background-position: 40%;
  background-image: url("http://hannahgraphics.com/images/samantha-hannah-metallic-mask.jpg");
  flex: 1;
}

.serviceslink-circle{
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-delay: 9.5;
  animation-fill-mode: forwards;
  margin: 0 auto;
  background-size: 200%;
  background-position: 40%;
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background-size: 200%;
  background-position: 40%;
  background-position: 40%;
  background-image: url("http://hannahgraphics.com/images/samantha-hannah-metallic-mask.jpg");
  flex: 1;
  animation-fill-mode: forwards;
}

.contactlink-circle{
  opacity: 0;
  animation-name: fade-in;
  animation-duration: 1.5s;
  animation-delay: 11s;
  animation-fill-mode: forwards;
  margin: 0 auto;
  background-size: 200%;
  background-position: 40%;
  border-radius: 50%;
  overflow: hidden;
  height: 150px;
  width: 150px;
  display: block;
  margin: 0 auto;
  background-size: 200%;
  background-position: 40%;
  background-image: url("http://hannahgraphics.com/images/samantha-hannah-metallic-mask.jpg");
  flex: 1;
  animation-fill-mode: forwards;
}

footer{
  height: 5vh;
  opacity: 0;
  color: #e6ddd6;
  animation: fade-in 1.5s ease;
  animation-delay: 12s;
  animation-fill-mode: forwards;
}

@keyframes drop{
  0%{
    opacity: 0;
    transform: translateY(-80px);
  }
  100%{
    opacity: 1;
    transform: translateY(8px);
  }
}
@keyframes fade-in{
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }

  }

footer{
  flex-grow: 0;
  color: #e6ddd6;
}

@media screen and (max-width: 900px){
  main{
    height: 85vh;
  }

@media screen and (max-width: 600px){
  header{
    display: block;
    flex-direction: row;
  }
  main{
    height: 75vh;
  }
  .presentation{
    height: 65vh;
  }
 
  .logo-container img{
    max-width: 200px;
  }
}

@media screen and (max-width: 420px){
  .nav-links{
    font-size: 8px;
    padding-top: 0;
  }
  .nav-link{
    font-size: 8px;
  }
  .presentation{
    height: 65vh;
  }
  main{
    height: 80%;
  }
}

@media screen and (max-width: 320px){
  .nav-links{
    font-size: 8px;
    padding-top: 0;
  }
  .nav-link{
    font-size: 8px;
  }
  .presentation{
    height: 65vh;
  }
  main{
    height: 80vh;
  }
}