

body{
  font-family: "Ailerons", sans-serif;
  background-color: #120348;
  overflow: hidden;
}

svg{
  display: block;
  margin: auto;
}

#Logo{
  transition: all 0.5s ease;
}

#TLCircleGroup{
  transition: all 0.5s ease;
}

#TRCircleGroup{
  transition: all 0.5s ease;
}
#BLCircleGroup{
  transition: all 0.5s ease;
}
#BRCircleGroup{
  transition: all 0.5s ease;
}

#TLCircle_bg{
  transition: all 0.5s ease;
}

#TRCircle_bg{
  transition: all 0.5s ease;
}
#BLCircle_bg{
  transition: all 0.5s ease;
}
#BRCircle_bg{
  transition: all 0.5s ease;
}



#TLCircleGroup:hover, #TLCircleGroup:active{
  transform: translate(-2.8%, -1%) scale(1.1);
}

#TRCircleGroup:hover, #TRCircleGroup:active{
  transform: translate(-6.8%, -1%) scale(1.1);
}
#BLCircleGroup:hover, #BLCircleGroup:active{
  transform: translate(-2.8%, -1.5%) scale(1.1);
}
#BRCircleGroup:hover, #BRCircleGroup:active{
  transform: translate(-6.8%, -1.5%) scale(1.1);
}

#wipingcircle2{

  r: 0;
  opacity: 0%;
  
}

@font-face { font-family: Ailerons; src: url('Ailerons-Typeface.otf'); } 

@media (max-width: 900px) {

  .bgcontainer{
    padding-top: 10%;
  }

  svg{
    transform: translateY(18%) scale(1.4);
  }

@media (max-width: 630px){

  .bgcontainer{
    padding-top: 0%;
  }

  svg{
    transform: scale(1);
  }

  #Logo{
    transform: translate(-50%, 0%) scale(2);
    transition: all 0.5s ease;
  }

  #TLCircleGroup{
    transform: translate(-30%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #TRCircleGroup{
    transform: translate(-70%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #BLCircleGroup{
    transform: translate(-30%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #BRCircleGroup{
    transform: translate(-70%, 0%) scale(2);
    transition: all 0.5s ease;
  }

  #TLCircle_bg{
    transform: translate(-30%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #TRCircle_bg{
    transform: translate(-70%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #BLCircle_bg{
    transform: translate(-30%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #BRCircle_bg{
    transform: translate(-70%, 0%) scale(2);
    transition: all 0.5s ease;
  }


  #TLCircleGroup:hover, #TLCircleGroup:active{
    transform: translate(-33%, -1.4%) scale(2.1);
  }

  #TRCircleGroup:hover, #TRCircleGroup:active{
    transform: translate(-77%, -1.4%) scale(2.1);
  }
  #BLCircleGroup:hover, #BLCircleGroup:active{
    transform: translate(-33%, -1.8%) scale(2.1);
  }
  #BRCircleGroup:hover, #BRCircleGroup:active{
    transform: translate(-77%, -1.8%) scale(2.1);
  }
 
}


 
}