body {
  display: flex;
  flex-direction: column;
  background-color: #120348;
  color: #E7E4F9;
  font-family: "Roboto", sans-serif;
}

.startup {
  flex-direction: row;
  display: flex;
  position: absolute;
  pointer-events:none
}

.everything {
  position: relative;
}

.maincontent {
  z-index: 9;
  animation: scaleup 2s ease-in-out;
  animation-delay: 3.6s;
  animation-fill-mode: forwards;
  transform: scale(0);
}

@keyframes scaleup {
  from {transform: scale(0);}
  to {transform: scale(1.0);}
}

.space1 {
  flex: 10%;
}
.videoframe {
  flex: 80%;
}
.space2 {
  flex: 10%;
}

video {
  max-width: 100%;
}

ul {
  display: flex;
  list-style: none;
  margin-right: 15%;
  margin-left: 10%;
  margin-top: 5vh;
}

ul li {
  align-content: center;
  flex: 25%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #e6ddd6;
}
.portfolio_container {
  flex-direction: row;
}

.about_container {
  flex-direction: row;
}

.socialmedia_container {
  flex-direction: row;
}

.footer {
  flex-direction: row;
}