

body{
  font-family: "Ailerons", sans-serif;
  background-color: #120348;
  color: #E7E4F9;
  overflow-x: hidden;
}

h1{
  opacity: 0%;
  font-size: 6vw;
  animation: fade-in 4s ease forwards;
  animation-delay: 1s;
}
h2{
  opacity: 0%;
  font-size: 3vw;
  animation: fade-in2 4s ease forwards;
  animation-delay: 2s;
}

.headercontainer{
  margin-left: 30%;
  position: absolute;
  height: 100vh;
  z-index: 2;
}

.bgcontainer{
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

.bgcontainer svg{
  vertical-align:top;
  margin: auto;
}

#TRCircleGroup{
  transform: translate(-6.8%, -1%) scale(1.1);
}

#wipingcircle2{

  r: 1;
  
  animation: wipepage 1s ease forwards;
  
}

@font-face { font-family: Ailerons; src: url('Ailerons-Typeface.otf'); } 

@keyframes wipepage{
  0%{
    r: 1;
  }
  100%{
    r: 15000;
  }
}
@keyframes fade-in{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}

  @keyframes fade-in2{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 66%;
  }
}

@media (max-width: 900px) and (orientation: portrait){

  .bgcontainer{
    padding-top: 10%;
  }

@media (max-width: 600px){

  .bgcontainer{
    padding-top: 0%;
  }

  #Logo{
    transform: translate(-50%, 0%) scale(2);
    transition: all 0.5s ease;
  }

  #TLCircleGroup{
    transform: translate(-30%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #TRCircleGroup{
    transform: translate(-77%, -1.4%) scale(2.1);
    transition: all 0.5s ease;
  }
  #BLCircleGroup{
    transform: translate(-30%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #BRCircleGroup{
    transform: translate(-70%, 0%) scale(2);
    transition: all 0.5s ease;
  }

  #TLCircle_bg{
    transform: translate(-30%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #TRCircle_bg{
    transform: translate(-70%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #BLCircle_bg{
    transform: translate(-30%, 0%) scale(2);
    transition: all 0.5s ease;
  }
  #BRCircle_bg{
    transform: translate(-70%, 0%) scale(2);
    transition: all 0.5s ease;
  }
 
}
