* {
  margin: 0px;
  padding 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
header {
  display: flex;
  width:100%;
  height: 50%;
  margin: auto;
  aligh-items: center;
  background: #503B6B;
}

.logo-container {
  background: url('./images/HannahGraphics-logo2.svg') no-repeat center;
  background-size: contain;
}

nav {
  flex: 2;
  background: rgb(189, 230, 173);
}

.cart{
  background: rgb(21, 123, 156);
}
