* {
  margin: 0px;
  padding 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.logo-container {
  background: #ADD8E6;
  height:600px;
}

nav {
  background: rgb(189, 230, 173);
}

.cart{
  background: rgb(21, 123, 156);
}
