* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
body {
  font-family: 'Poppins', sans-serif;
}

h1{
  margin: 0;
  padding: 0;
}

.header{
  display:flex;
  width: 90%;
  height: auto;
  background: #503B6B;
}
  
.logo-container{
  }
  
  nav{
    background: lightblue;
  }
  
    

.body-section{
  display: flex;
  margin: 10px 10px;
}

.sidebar{
  width: 15%;
  height: 530px;
  border-radius: 20px;
  background-color: #c9a5e8;
  text-align: center;
  color: #000000;
}

.s2{
  background-color: #c9a5e8;
}

.main-body{
  width: 68%;
  height: 538px;
  border-radius: 15px;
  background-color: #ffffff;
  text-align: center;
  margin: 0px;
}

footer{
  width: 100%;
  height: 50px;
  background-color: #503B6B;
  text-align: center;
  color: #ffffff;
}
