* {
  margin: 0px;
  padding 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  width: 90%;
  margin: auto;
}

.logo-container {
  
}

nav {
  
}

.cart{
  
}
