*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html{
  height: 100%;
  margin: 0%;
  width: 100%;
  padding: 0px;
  overflow-x: visible;
}

::-webkit-scrollbar {
    display: none;
}

body{
  font-family: "Roboto", sans-serif;
  flex: display;
  flex-direction: column;
  background-color: #E7E4F9;
}

main{
  padding-bottom: 0%;
  display: block;
}

header{
  display: flex;
  width: 80%;
  margin-left: 18%;
  margin-right: 40%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 0vh;
  padding-bottom: 5%;
}

.floatingImg {
  z-index: 2; 
  position: absolute;
}

.floatingImg img{
  width: 65%;
  height: 65%;
  margin-left: 37%;
  margin-top: 5%;

}

.TitleSection{
  color: #e6ddd6;
  display: flex;
  flex-direction: row;
  margin-left: 2.2%;
  margin-right: 2.2%;
  margin-top: 7.6%;
}

.arrowContainer1{
  margin-top: 1.45%;
  flex: 2.3%;
}

.arrowContainer2{
  margin-top: 1.45%;
  flex: 2.3%;
}
.arrowContainer1 img{
  opacity: 33%;
}
.arrowContainer2 img{
  transform: rotate(180deg);
  opacity: 33%;
}

.TitleText{
  flex: 95.2%;
  margin-left: 15.3%;
  height: 10vh;
}
.TitleText h1{
  flex: 90%;
  font-size: 3.65vw;
  color: #E7E4F9;
}
.TitleText h2{
  margin-top: 0.8%;
  flex: 90%;
  font-size: 2.45vw;
  font-weight: normal;
  opacity: 66%;
  color: #E7E4F9;
}

.headerContainer{
    width: 100%;
    padding-bottom: 38%;
    background-color: #120348;
}

.headerContainerBGIMG{
  opacity: 33%;
  width: 100%;
  padding-bottom: 38%;
  background-image: url('images/orc face.jpg');
  background-size: cover;
  position: absolute;
  -webkit-filter: blur(10px);
}

.headerContainer2{
    width: 100%;
    height: 82.8vh;
      z-index: 3;
      position: absolute;
}

.logo-container,
.nav-links{
  display: flex;
}

.logo-container{
  flex: 16%;
  margin-bottom: 80%;
}

.orcContainer{
  position: relative;
}

.orcContainer img{
  position: absolute;
  z-index: 1;
}

nav{
  flex: 80%;
  padding-left: 4.25%;
  padding-right: 8%;
}

.nav-links{
  justify-content: space-around;
  list-style: none;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.25vw;
}

.nav-link{
  color: #EEC8ED;
  font-size: 1.25vw;
  text-decoration: none;
}

.nav-link-highlighted{
  border-radius: 25px;
  background-color: #3A2081;
  box-shadow: 0 0 39px 15px #3A2081;
  color: #E7E4F9;
  font-size: 1.25vw;
  text-decoration: none;

}

.floatingDots{
  display: flex;
  flex-direction: row;
  margin-top: 35%;
  margin-left: 47.5%;
  margin-right: 47.5%;
  justify-content: center;
  position: absolute;
}

.dot {
  opacity: 66%;
  flex: 20%;
  height: 1.1vw;
  width: 1.6vw;
  margin: 6%;
  background-color: #E7E4F9;
  border-radius: 50%;
  display: inline-block;
}
.dot-highlighted {
  flex: 20%;
  height: 1.1vw;
  width: 1.6vw;
  margin: 6%;
  background-color: #2E2C9A;
  border-radius: 50%;
  display: inline-block;
}

.AboutMeShort{

  padding-bottom: 4.5%;

}

.aboutMeContainer{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 19%;
  margin-top: 4%;
  padding-bottom: 0%;
}

.profileContainer{
  flex: 38%;
  margin-top: 1.2%;
  margin-bottom: 1.2%;
}

.profileContainer img{
  height: 100%;
  width: 100%;
  display: block;
}

.aboutText{
  flex: 62%;
  color: #120348;
  margin-left: 6%;
  margin-right: 25%;
}

.titleText h1{
  color: #120348;
  font-size: 3.4vw;
}

.titleText h2{
  color: #120348;
  opacity: 66%;
  font-size: 2.4vw;
  font-weight: normal;
}

.normalText {
  color: #120348;
  opacity: 66%;
  font-weight: normal;
  font-size: 1.2vw;
}

.UpdatesShort{
  padding-bottom: 5%;
  background-color: #3A2081;
  opacity: 75%;
}

.UpdatesTitle{
  padding-top: 6%;
  text-align: center;
  color: #E7E4F9;
}

.UpdatesTitle h1{
  font-size: 3.65vw;
}

.UpdatesTitle h2{
  font-size: 2vw;
  font-weight: normal;
  opacity: 66%;
  padding-bottom: 5.5%;
}

.UpdatesContainer {
  margin-left: 18%;
  margin-right: 18%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Update1 {
  flex: 33.66667%;
  margin-right: 0.5%;
  background-color: #E7E4F9;
  padding-bottom: 18%;
}

.Update2 {
  flex: 33.66667%;
  margin-right: 0.5%;
  margin-left: 0.5%;
  background-color: #E7E4F9;
  padding-bottom: 18%;
}

.Update3 {
  flex: 33.66667%;
  margin-left: 0.5%;
  background-color: #E7E4F9;
  padding-bottom: 18%;
}

footer{
  background-color: #120348;
  color: #e6ddd6;
  
}

footer h1{
  color: #E7E4F9;
  font-size: 1.1vw;

}
.footerMain{
  margin-left: 18.5%;
  margin-right: 11%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2%;
}
.ContactMe{
  font-size: 0.7vw;
  margin-top: 3.5%;
  color: #E7E4F9;
  opacity: 66%;
  flex: 1 1 0;
  width: 0;
}

.AddressContainer{
  margin-top: 7%;
  display: flex;
  flex-direction: row;
}

.LetterIconContainer{
  width: 10%;
  height: 10%;
}

.Address{
  margin-left: 5%;
}

.PhoneContainer{
  display: flex;
  flex-direction: row;
}

.PhoneIconContainer{
  width: 9%;
  height: 9%;
}

.PhoneNumber{
  margin-left: 5%;
  margin-top: 2%;
}

.MobileContainer{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.MobileIconContainer{
  width: 7%;
  height: 7%;
  margin-left: 2%;
}

.MobileNumber{
  margin-top: 2%;
  margin-left: 5%;
}

.EmailContainer{
  margin-top: 3%;
  display: flex;
  flex-direction: row;
}

.EmailIconContainer{
  width: 9%;
  height: 9%;
}

.Email{
  margin-top: 2%;
  margin-left: 5%;
}

.NavSiteContainer{
  margin-top: 3.5%;
  margin-left: 12%;
  opacity: 66%;
  flex: 1 1 0;
  width: 0;
}

.NavSiteLinksContainer{
  color: #E7E4F9;
  font-size: 1vw;
  text-decoration: none;
  margin-left: 8%;
  margin-top: 2%;
  font-weight: normal;
}

.site-links{
  list-style: none;
  flex-direction: column;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 0.7vw;
  font-weight: normal;
}

.site-link{
  display: inline-block;
  color: #E7E4F9;
  font-size: 0.7vw;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 3%;
}

.Connections{
  margin-top: 3.5%;
  opacity: 66%;
  color: #E7E4F9;
  flex: 1 1 0;
  width: 0;
}

.ConnectionsTitle{
  text-align: center;
  margin-bottom: 2%;
}

.IconsContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ArtstationContainer{
  display: flex;
  justify-content: center;
}

.LinkedInContainer{
  display: flex;
  justify-content: center;
}
.ArtstationContainer img{
  width: 19%;
  height: 19%;
  margin-right: 2%;
}

.LinkedInContainer img{
  width: 12%;
  height: 12%;
}

.copyrightSection{
  padding-top: 2%;
  background-color: #3A2081;
  padding-bottom: 2%;
}

.CopyrightText{
  color: #E7E4F9;
  opacity: 33%;
  font-size: 1.25vw;
  text-align: center;
}