*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{

  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; 
  flex: display;
  flex-direction: column  
}

main{
  height: 75vh;
  display: block;
}

header{
  display: flex;
  width: 80%;
  margin-left: 18%;
  margin-right: 40%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 15vh;
  background-color: #120348;
}
.shock{
    width: 100%;
    background-color: #120348;
    height: 80vh;
}

.logo-container,
.nav-links{
  display: flex;
}

.logo-container{
  flex: 16%;
  margin-bottom: 80%;
}
nav{
  flex: 80%;
  padding-left: 4.25%;
  padding-right: 8%;
}

.nav-links{
  justify-content: space-around;
  list-style: none;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.25vw;
  color: #e6ddd6;
}

.nav-link{
  color: #e6ddd6;
  font-size: 1.25vw;
  text-decoration: none;

}

.presentation{
  margin-left: 20%;
  margin-right: 20%;
  color: #e6ddd6;
  overflow: visible;
  height: 65vh;
}

.hello{
  text-align: center;
  font-size: 20px;
}

.header-text{
  text-align: center;
  font-size: 16px;
}

.blurb{
  text-align: center;
  font-size: 16px;
}

.portfolio{
  width: 90%;
  height: 65vh;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.portfolioBG{
  display: flex;
  flex-direction: column;
  background-size: 40%;
  background-image: url('images/arrows.png');
  background-position: 250px 125px;
  background-repeat: no-repeat;
}

.portfolio::-webkit-scrollbar {
  width: 14px;
}

/* 4px scroll thumb. 10px margin from right margin */
.portfolio::-webkit-scrollbar-track {
  box-shadow: inset 0 0 24px 24px transparent;
  border: solid 18px transparent;
}

.portfolio::-webkit-scrollbar-thumb {
  box-shadow: inset 24px 24px 24px 24px #bbbbbe;
  border: solid 6px transparent;
  border-radius: 14px;
}

.portfolio::-webkit-scrollbar-button {
  display: none;
}

.modelling{
  flex: 1;
  display: flex;
  flex-direction: column;
}

.modellingelement{
  align-items: left;
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.modellingelementimg-circle{
  animation: swap3D 15s infinite;
  border-radius: 50%;
  overflow: hidden;
  height: 250px;
  width: 250px;
  display: block;
  margin: 0 auto;
  background-size: 200%;
  background-position: 40%;
  background-image: url("http://hannahgraphics.com/images/samantha-hannah-metallic-mask.jpg");
}

.motiongraphics{
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.motiongraphicselement{
  align-items: left;
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.motiongraphicselementimg-circle{
  animation: swapMotionGraphics 15s infinite;
  border-radius: 50%;
  overflow: hidden;
  height: 250px;
  width: 250px;
  display: block;
  margin: 0 auto;
  background-size: 200%;
  background-position: 40%;
  background-image: url("http://hannahgraphics.com/images/samantha-hannah-metallic-mask.jpg");
}

@keyframes swap3D{
  0%, 100%{
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-metallic-mask.jpg");
  }
  25% {
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-sword-2.jpg");
  }
   75% {
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-asset.jpg");
  }
}

@keyframes swapMotionGraphics{
  0%, 100%{
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-metallic-mask.jpg");
  }
  25% {
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-sword-2.jpg");
  }
   75% {
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-asset.jpg");
  }
}

@keyframes swapDrawing{
  0%, 100%{
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-fish.jpg");
  }
  50% {
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-puffin.jpg");
    background-position: 40% 50%;
  }
}

@keyframes swapPortfolio{
  0%, 100%{
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-fish.jpg");
  }
  50% {
    background-image: url("http://hannahgraphics.com/images/samantha-hannah-fish.jpg");
    background-position: 85% 90%;
  }
}

.modellingelementblurb{
  margin-top: 50px;
  flex: 1;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.motiongraphicselementblurb{
  margin-top: 50px;
  flex: 1;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.traditionalelement{
  align-items: left;
  flex: 1;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.traditionalelementimg{
  animation: swapDrawing 10s infinite;
  border-radius: 50%;
  overflow: hidden;
  height: 250px;
  width: 250px;
  display: block;
  margin: 0 auto;
  background-size: 200%;
  background-position: 85% 90%;
  background-image: url("http://hannahgraphics.com/images/samantha-hannah-fish.jpg");
}

.traditionalelementblurb{
  margin-top: 50px;
  flex: 1;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img{
  max-width: 100%;
  max-height: 100%;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

footer{
  flex-grow: 0;
  color: #e6ddd6;
}