*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html, body{

  width: 100%;
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; 
  flex: display;
  flex-direction: column;
  background-color: #E7E4F9;
}

main{
  height: 75vh;
  display: block;
}

header{
  display: flex;
  width: 80%;
  margin-left: 18%;
  margin-right: 40%;
  flex-direction: row;
  flex-wrap: wrap;
  height: 15vh;
}

.floatingImg {
  z-index: 2; 
  position: absolute;
}

.floatingImg img{
  width: 65%;
  height: 65%;
  margin-left: 37%;
  margin-top: 5%;

}

.TitleSection{
  color: #e6ddd6;
  display: flex;
  flex-direction: row;
  margin-left: 2.2%;
  margin-right: 2.2%;
  margin-top: 7.6%;
}

.arrowContainer1{
  margin-top: 1.45%;
  flex: 2.3%;
}

.arrowContainer2{
  margin-top: 1.45%;
  flex: 2.3%;
}
.arrowContainer1 img{
  opacity: 33%;
}
.arrowContainer2 img{
  transform: rotate(180deg);
  opacity: 33%;
}

.TitleText{
  flex: 95.2%;
  margin-left: 15.3%;
}
.TitleText h1{
  flex: 90%;
  font-size: 3.65vw;
  color: #E7E4F9;
}
.TitleText h2{
  margin-top: 0.8%;
  flex: 90%;
  font-size: 2.45vw;
  font-weight: normal;
  opacity: 66%;
  color: #E7E4F9;
}

.headerContainer{
    width: 100%;
    height: 82.8vh;
    background-color: #120348;
}

.headerContainerBGIMG{
  opacity: 33%;
  width: 100%;
  height: 82.8vh;
  background-image: url('images/orc face.jpg');
  background-size: cover;
  position: absolute;
  -webkit-filter: blur(10px);
}

.headerContainer2{
    width: 100%;
    height: 82.8vh;
      z-index: 3;
      position: absolute;
}

.logo-container,
.nav-links{
  display: flex;
}

.logo-container{
  flex: 16%;
  margin-bottom: 80%;
}

.orcContainer{
  position: relative;
}

.orcContainer img{
  position: absolute;
  z-index: 1;
}

nav{
  flex: 80%;
  padding-left: 4.25%;
  padding-right: 8%;
}

.nav-links{
  justify-content: space-around;
  list-style: none;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
  font-size: 1.25vw;
}

.nav-link{
  color: #EEC8ED;
  font-size: 1.25vw;
  text-decoration: none;
}

.nav-link-highlighted{
  border-radius: 25px;
  background-color: #3A2081;
  box-shadow: 0 0 39px 39px #3A2081;
  color: #E7E4F9;
  font-size: 1.25vw;
  text-decoration: none;

}

img{
  max-width: 100%;
  max-height: 100%;
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: 100%;
}

footer{
  flex-grow: 0;
  color: #e6ddd6;
}

::-webkit-scrollbar {
    display: none;
}