.github-link-wrapper{
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1.2% 0;
}

.contact-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: auto;
  padding-top: 6vh;
  gap: 8vh;
}

.contact-imgs {
  font-size: 4rem;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.contact-imgs a:hover {
  color: #b4bac1;
  text-shadow: 0 0 10px rgba(255,255,255,0.2);
}

.contact-title {
  margin-bottom: 2rem;
}

.contact-me img {
  width: 80px;
  height: auto;
}

@media (max-width: 600px) {
  .contact-title {
    width: 80%;
    font-size: 1.4em;
    text-align: center;
  }
}